@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #ffffff;
  background-color: #f2f4f8;
}

.container {
  max-width: 1216px;
}

.horizontal-absolute-center {
  left: 50%;
  transform: translate(-50%, 0);
}

.horizontal-vertical-absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bg-header-fixed {
  background-color: #111111;
}

.animate-cards-image {
  animation: apperingFromBottom 0.25s linear forwards;
}

.animate-cards-image:nth-child(2) {
  animation-delay: 0.2s;
}

@keyframes apperingFromBottom {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
