@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: #b90030;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #ffffff;
  background-color: #f2f4f8;
}

.container {
  max-width: 1216px;
}

.horizontal-absolute-center {
  left: 50%;
  transform: translate(-50%, 0);
}

.horizontal-vertical-absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bg-header-fixed {
  background-color: #111111;
}

.animate-cards-image {
  animation: apperingFromBottom 0.25s linear forwards;
}

.animate-cards-image:nth-child(2) {
  animation-delay: 0.2s;
}

@keyframes apperingFromBottom {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.show-navbar-header {
  @media (max-width: 768px) {
    background-color: #111111;
    transition: 0.5s !important;
  }
}

.show-navbar {
  @media (max-width: 768px) {
    position: fixed;
    top: 72px;
    display: flex !important;
    flex-direction: column;
    padding: 32px 20px;
    width: 100%;
    background-color: #111111;
    gap: 64px;
    transition: 0.5s !important;
  }
}

.show-navbar > ul {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

/* intersect */

.intersect {
}

.intersect-transition-25 {
  transition: 0.25s all;
}
.intersect-transition-40 {
  transition: 0.4s all;
}
.intersect-transition-60 {
  transition: 0.6s all;
}
.intersect-transition-80 {
  transition: 0.8s all;
}
.intersect-transition-100 {
  transition: 1s all;
}

.intersect-hidden {
  opacity: 0;
}

.intersect-show {
  opacity: 1;
}

.intersect-child:nth-child(2) {
  transition-delay: 200ms;
}

.intersect-child:nth-child(3) {
  transition-delay: 400ms;
}

.intersect-child:nth-child(4) {
  transition-delay: 600ms;
}

.intersect-child:nth-child(5) {
  transition-delay: 800ms;
}

/* from bottom */

.intersect-hidden.intersect-animate-bottom {
  transform: translateY(25%);
}

.intersect-show.intersect-animate-bottom {
  transform: translateY(0%);
}

/* from right */

.intersect-hidden.intersect-animate-right {
  transform: translateX(25%);
}

.intersect-show.intersect-animate-right {
  transform: translateX(0%);
}

/* from left */

.intersect-hidden.intersect-animate-left {
  transform: translateX(-25%);
}

.intersect-show.intersect-animate-left {
  transform: translateX(0%);
}

/* from top */

.intersect-hidden.intersect-animate-top {
  transform: translateY(-25%);
}

.intersect-show.intersect-animate-top {
  transform: translateY(0%);
}
